.ReadHeader {
  color: red;
}

button {
  background-color: #4CAF50; /* Green */
  color: white;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  padding: 5px;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: inherit;
  color: black;
}

input[type=text] {
  margin: 4px 2px;
  padding: 3px;
}

.flexDiv {
  min-width: 400px;
  max-width: 450px;
  border: 3px solid black;
  margin: 5px;
}

.container {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
}

.cookieBtn {
  display: inline-block;
}

.cookieTxt {
  display: inline-block;
  margin-right: 10px;
}

.cookieDiv {
  border: 1px solid black;
  width: 350px;
  margin-left: 2px;
}