.ReadHeader {
  color: red;
}

button {
  background-color: #4CAF50; /* Green */
  color: white;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  padding: 5px;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: inherit;
  color: black;
}

input[type=text] {
  margin: 4px 2px;
  padding: 3px;
}